---
import Layout from "./Layout.astro";
import { formatDateToEng } from '../utils/formatDateToEng'
import { Icon } from 'astro-icon'

const { frontmatter } = Astro.props;
const { year, month, day } = formatDateToEng(frontmatter.date)
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <div>
    <Icon class="icon" name="carbon:calendar" />
    <span>
      {`${month} ${day}, ${year}`}
    </span>
  </div>
  <slot />
</Layout>

<style>
div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray);
}

span {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
}

.icon {
  width: 20px;
  height: 20px;
}
</style>
